:root {
    --bc-white: #F5F5F5;
    --bc-neutral-4: #E9E9E9;
    --bc-neutral-3: #E2E2E2;
    --bc-neutral-2: #DADADA;
    --bc-neutral-1: #717171;
    --bc-black: #1D1D1D;
    --bc-blue-1: #036F9D;
}

p {
    color: var(--bc-black);
}

input {
    color: var(--bc-black);
    background-color: var(--bc-neutral-4);
    border: 1px solid var(--bc-neutral-2);
    padding: 0.75rem 0.5rem;
    border-radius: 0.25rem;
}

button {
    padding: 1rem 0.5rem;
    border: none;
    border-radius: 50rem;
    background-color: var(--bc-blue-1);
    color: var(--bc-white);
    cursor: pointer;
}

label {
    color: var(--bc-black);
    font-size: 13px;
}